/classwork/HelloWorld/target/
/classwork/adder/target/
/classwork/windowMaster/target/
/classwork/WindowMasterDebug/target/
/classwork/PracticeProgramming/target/
/classwork/Factorizer/target/
/classwork/InterestCalculator/target/
/classwork/LuckySevens/target/
