/classwork/HelloWorld/target/
/classwork/adder/target/
/classwork/windowMaster/target/
/classwork/WindowMasterDebug/target/
/classwork/PracticeProgramming/target/
/classwork/Factorizer/target/
/classwork/InterestCalculator/target/
/classwork/LuckySevens/target/
/classwork/RockPaperScissors/target/
/DogGenetics/target/
/classwork/SimpleCalculator/target/
/classwork/ShapesAndPerimeters/target/
/classwork/StateCapitals/target/
/classwork/UserIO/target/
/classwork/StudentQuizGrades/target/
/classwork/StateCapitals2/target/
/classwork/StateCapitals3/target/
